<div class="projects container">
	<h2 class="projects__title g-sub-title">Проекты</h2>
	<div class="projects__slider _projects__slider swiper">
		<div class="projects__slider-wrap swiper-wrapper">
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-1.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Строительство храма-памятника в честь иконы Божьей Матери Утоли моя печали в месте захоронения военнослужащих, погибших 
					</h3>
					<p class="projects__slider-info">
						Благотворительный фонд «Будем жить!» создан инициативной группой родственников воинов, погибших в зоне проведения СВО. Оказавшись лицом к лицу с непоправимым горем, мы нашли в себе силы организовать работу фонда, направленную на поддержку семей и увековечивание памяти наших героев в зоне СВО. 
						С Благословения Владыки Герасима архиепископа Владикавказского и Аланского, Фонд поддержки семей воинов Осетии " Будем жить!" начинает строительство Храма-Памятника на восточном кладбище, в месте захоронения наших павших, с целью увековечивания памяти и совершения молитв о упокоении погибших и здравии их семей. 
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-2.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Помощь семьям воинов, погибших в зоне проведения СВО
					</h3>
					<p class="projects__slider-info">
						Фонд оказывает информационную, психологическую и материальную помощь семьям, потерявшим своих близких. 
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-3.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Рождественское театрализованное представление «Мишкино Рождество»
					</h3>
					<p class="projects__slider-info">
						8 января в Доме офицеров Владикавказского гарнизона прошло праздничное театрализованное представление для детей воинов, погибших в зоне проведения СВО "Мишкино Рождество". На мероприятие были приглашены дети из прифронтовых районов Донецкой Народной Республики, а также дети сотрудников волонтёрской организации "Согрей Солдата". 
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-4.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Концерт – реквием «Будем жить
					</h3>
					<p class="projects__slider-info">
						22 июня 2023г.  в Северо-Осетинском государственном академическом театре им. В. Тхапсаева состоялся концерт -реквием, посвященный Дню памяти и скорби, в рамках увековечивания памяти героев Великой отечественной войны, героев, погибших в военных конфликтах в Афганистане, Чечне, Сирии, воинов, погибших в зоне 
						Организаторы мероприятия Управление культуры АМС г. Владикавказ и благотворительный фонд «Будем жить!». Со сцены звучали песни и стихотворения военных лет в исполнении солистов филиала Мариинского театра в Республике Северная Осетия – Алания, Государственной филармонии, артистов Академического Русского театра им. Е. Вахтангова.  Гостями концерта стали сотрудники Росгвардии, военнослужащие 58 армии, участники и родственники воинов, погибших в ходе проведения СВО, члены ветеранских организаций.
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-5.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Духовно-патриотический театр «Пересвет» 
					</h3>
					<p class="projects__slider-info">
						Театр был создан для вовлечение детей среднего и старшего школьного возраста в творческий процесс создания театрализованных мероприятий и спектаклей духовно-нравственной направленности. Мы стараемся прививать подрастающему поколению традиционные духовные ценности по средством театрального искусства и привлекать для участия в деятельности театра и тем самым создавать условия для психо -эмоциональной разгрузки детей из семей воинов Осетии, оказавшихся трудных жизненных обстоятельствах. Новая государственная политика в области культуры меняет приоритеты. В настоящее время огромное внимание уделяется просвещению, особенно духовному и творческому развитию детей, воспитанию патриотизма и созданию условий для творчества. «Свобода творчества — одно из важных условий для развития культуры» «Раскрытие талантов – это наша с вами задача, в этом – успех России» В. В. Путин
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-6.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Сбор и отправка гуманитарных грузов в зону СВО
					</h3>
					<p class="projects__slider-info">
						Каждый месяц родственники наших погибших ребят, делают свой вклад в помощь нашим ребятам на передовой. Объединившись, они вносят свою маленькую, но очень важную лепту помощи нашим Воинам.
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-7.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Концерты поддержки раненых бойцов «Будем жить!»
					</h3>
					<p class="projects__slider-info">
						В военном госпитале Министерства обороны РФ, филиал № 412 совместно с воскресной школой храма святого мученика Иоанна Воина г. Владикавказ регулярно проводятся концерты в поддержку раненых военнослужащих и сотрудников госпиталя.
					</p>
				</div>
			</div>
			<div class="projects__slider-item swiper-slide">
				<img src="image/project-8.jpg" alt="">
				<div class="projects__slider-text">
					<h3 class="projects__slider-title">
						Увековечивание памяти воинов, погибших в зоне проведения СВО в учебных заведениях Республики Северная Осетия-Алания
					</h3>
					<p class="projects__slider-info">
						Информационная поддержка мероприятий, направленных на увековечивание памяти героев СВО в учебных заведениях республики.
					</p>
				</div>
			</div>
		</div>
		<div class="swiper-pagination projects__pagination"></div>
		<div class="swiper-button-prev about-us__prev">
			<img src="image/arrow.png" alt="">
		</div>
  		<div class="swiper-button-next about-us__next">
  			<img src="image/arrow.png" alt="">
  		</div>
	</div>
</div>