@font-face {
    font-family: 'Inter-Bold';
    src: url('fonts/Inter/Inter-Bold/Inter-Bold.eot');
    src: url('fonts/Inter/Inter-Bold/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter/Inter-Bold/Inter-Bold.woff2') format('woff2'),
        url('fonts/Inter/Inter-Bold/Inter-Bold.woff') format('woff'),
        url('fonts/Inter/Inter-Bold/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('fonts/Inter/Inter-Regular/Inter-Regular.eot');
    src: url('fonts/Inter/Inter-Regular/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter/Inter-Regular/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter/Inter-Regular/Inter-Regular.woff') format('woff'),
        url('fonts/Inter/Inter-Regular/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('fonts/Inter/Inter-SemiBold/Inter-SemiBold.eot');
    src: url('fonts/Inter/Inter-SemiBold/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter/Inter-SemiBold/Inter-SemiBold.woff2') format('woff2'),
        url('fonts/Inter/Inter-SemiBold/Inter-SemiBold.woff') format('woff'),
        url('fonts/Inter/Inter-SemiBold/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular/Roboto-Regular.eot');
    src: url('fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



