<div class="donations container">
	<h2 class="g-sub-title donations__title">Пожертвования принимаются по оплате через QR-код</h2>
	<p class="donations__text">
		Большое спасибо за вашу поддержку нашего благотворительного фонда! Ваше пожертвование имеет огромное  значение и помогает нам творить благие дела. Мы ценим ваше доверие в нашу миссию. Спасибо,что помогаете делать мир лучше!
	</p>
	<img src="image/qr.png" alt="">
</div>