<header>
	<div class="container g-flex">
		<a href="/" class="header__logo">
			<img src="/image/logo.jpg" alt="">
		</a>
		<ul class="_header__list header__list">
			<li class="header__item" onclick="mainObject.header.closeEl()">
				<a href="#about-us" class="header__link">О нас</a>
			</li>
			<li class="header__item" onclick="mainObject.header.closeEl()">
				<a href="#projects" class="header__link">Проекты</a>
			</li>
			<li class="header__item" onclick="mainObject.header.closeEl()">
				<a href="#interaction" class="header__link">Взаимодействие</a>
			</li>
			<li class="header__item" onclick="mainObject.header.closeEl()">
				<a href="#news" class="header__link">Новости</a>
			</li>
			<li class="header__item" onclick="mainObject.header.closeEl()">
				<a href="#contacts" class="header__link">Контакты</a>
			</li>
		</ul>
		<div class="header__burger _burger" onclick="mainObject.header.show(this)">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</header>