.about-us
{
	margin-bottom: 40px;
}
.about-us__title
{
	text-align: center;
	margin-bottom: 15px;
}
.about-us__text
{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(54, 56, 76, 1);
	margin-bottom: 10px;
	&.about-us__text--mb
	{
		margin-bottom: 25px;
	}
	span
	{
		font-family: $main-font-bold;
		font-weight: 900;
	}
}
.about-us__item
{
	img
	{
		width: 100%;
		height: 350px;
	}
}
.about-us__slider
{
	padding-bottom: 50px;
}
.about-us__prev
{
	img
	{
		transform: rotate(180deg)
	}
}
.about-us__prev,
.about-us__next
{
	transform: translateY(-50%);
	&::after
	{
		content: '';
	}
}
.about-us__pagination
{
	bottom: 20px !important;
}
@media(max-width: 750px)
{
	.about-us__text
	{	
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
	}	
}
@media(max-width: 404px)
{
	.about-us
	{
		margin-bottom: 20px;
	}
	.about-us__item
	{
		img
		{
			height: 208px;
			object-fit: contain;
		}
	}
}