<section class="about-us container" id="about-us">
	<h2 class="about-us__title g-sub-title">О нас</h2>
	<p class="about-us__text">
		Благотворительный фонд <span>«Будем жить!»</span> создан инициативной группой родственников воинов, погибших в зоне проведения СВО.
	</p>
	<p class="about-us__text about-us__text--mb">
		Оказавшись лицом к лицу с непоправимым горем, мы нашли в себе силы организовать работу фонда, направленную на поддержку семей и увековечивание памяти наших героев.
	</p>
	<div class="_about-us about-us__slider swiper">
		<div class="swiper-wrapper">
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-12.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-2.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-4.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-6.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-7.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-8.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-9.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-10.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-11.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-13.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-14.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-15.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-16.jpg" alt="">
			</div>
			<div class="about-us__item swiper-slide">
				<img loading="lazy" src="/image/about-us-img-17.jpg" alt="">
			</div>
		</div>
		<div class="swiper-pagination about-us__pagination"></div>
		<div class="swiper-button-prev about-us__prev">
			<img src="image/arrow.png" alt="">
		</div>
  		<div class="swiper-button-next about-us__next">
  			<img src="image/arrow.png" alt="">
  		</div>
	</div>
</section>
