<div class="management container">
	<h1 class="g-title">«Будем жить!»</h1>
	<h2 class="managment__title">Благотворительный фонд</h2>
	<p class="managment__descr">поддержки воинов Осетии и увековечивания памяти защитников Отечества</p>
	<div class="management__list">
		<div class="management__item">
			<img src="/image/manager-1.jpg" alt="" class="management__image">
			<p class="manager__title">Заместитель председателя фонда “Будем жить!” по связям с общественностью.</p>
			<span class="manager__name">Абаева Оксана Николаевна</span>
		</div>
		<div class="management__item">
			<img src="/image/manager-2.jpg" alt="" class="management__image">
			<p class="manager__title">Председатель фонда “Будем жить!”</p>
			<span class="manager__name">Висяч Галина Алексеевна</span>
		</div>
		<div class="management__item">
			<img src="/image/manager-3.jpg" alt="" class="management__image">
			<p class="manager__title">Заместитель председателя фонда “Будем жить!”, руководитель проектов и направлений</p>
			<span class="manager__name">Астахова Марина Ремовна</span>
		</div>
	</div>
</div>