<footer>
	<div class="container footer__wr">
		<div>
			<div class="footer__item">
				<div class="footer__item-flex g-flex">
					<div>
						<div class="footer__item-wr">
							<a href="tel:+79891350607">
								<span>Телефон:</span>
								<span>+79891350607</span>
							</a>
						</div>
						<div class="footer__item-wr">
							<a href="mailto:fond.budemzhit@mail.ru">
								<span>Почта:</span>
								<span>fond.budemzhit@mail.ru</span>
							</a>
						</div>
					</div>
					<a href="#">
						<img src="image/footer-logo.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__item">
			<div>Соц Сети</div>
			<a href="https://vk.com/bubemzhit2023">VK</a>
			<a href="https://t.me/bfbudemzhit">Telegram</a>
		</div>
		<div class="footer__item">
			<a href="#about-us">О нас</a>
			<a href="#projects">Наши проекты</a>
			<a href="#interaction">Взаимодействие</a>
			<a href="#news">Новости</a>
			<a href="#contacts">Контакты</a>
		</div>
	</div>
</footer>
