<footer>
	<div class="container footer__wr">
		<div>
			<div class="footer__item">
				<p>Председатель фонда Висяч Галина Алексеевна</p>
				<div class="footer__item-flex g-flex">
					<div>
						<div class="footer__item-wr">
							<a href="#">
								<span>Телефон:</span>
								<span>+79194210236</span>
							</a>
						</div>
						<div class="footer__item-wr">
							<a href="#">
								<span>Почта:</span>
								<span>fond.budemzhit@mail.ru</span>
							</a>
						</div>
					</div>
					<a href="#">
						<img src="image/footer-logo.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__item">
			<div>Соц Сети</div>
			<a href="#">VK</a>
			<a href="#">Telegram</a>
		</div>
		<div class="footer__item">
			<a href="#">О нас</a>
			<a href="#">Наши проекты</a>
			<a href="#">Взаимодействие</a>
			<a href="#">Новости</a>
			<a href="#">Контакты</a>
		</div>
	</div>
</footer>
