<section class="interaction container" id="interaction">
	<h2 class="g-sub-title interaction__title">Взаимодействие</h2>
	<p class="interaction__text">
		Фонд активно взаимодействует с государственными структурами и некоммерческими организациями.
	</p>
	<p class="interaction__text interaction__text--mb">
		Государственный фонд «Защитники отечества» Министерство образования РСО-Алания, министерство культуры РСО-Алания, Администрация местного самоуправления г. Владикавказ ГБНОУ «Республиканский лицей искусств» Детская музыкальная школа №1 им. П.И.Чайковского ДШИ №2 г. Владикавказ, Городской совет ветеранов ВладикавказаЕпархия Владикавказская и АланскаяМОО «Землячество Алании» г. ДонецкАНО Ветеранов Органов Госбезопасности "Вымпел-Алания". Региональное отделение общероссийской общественно-государственной организации «Союз женщин России» РСО-Алания.
	</p>
	<div class="interaction__wr interaction__text--mb">
		<p>Республика Северная Осетия-Алания</p>
		<p>г. Владикавказ ул. Димитрова д.2 офис 406</p>
		<p>Телефон: +79194210236</p>
		<p>Email: fond.budemzhit@mail.ru</p>
		<p>VK: https://vk.com/bubemzhit2023</p>
		<p>Telegram: https://t.me/bfbudemzhit</p>
	</div>
	<div class="interaction__slider _interaction__slider swiper">
		<div class="interaction__wrap swiper-wrapper">
			<img class="swiper-slide" src="image/interaction-1.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-2.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-3.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-4.jpg" alt="">
		</div>
		<div class="swiper-pagination about-us__pagination"></div>
	</div>
</section>