<section class="interaction container" id="interaction">
	<h2 class="g-sub-title interaction__title">Взаимодействие</h2>
	<p class="interaction__text">
		Фонд активно взаимодействует с государственными структурами и некоммерческими организациями.
	</p>
	<p class="interaction__text interaction__text--mb">
		Государственный фонд «Защитники отечества»,
	</p>
	<p class="interaction__text interaction__text--mb">
		Министерство образования РСО-Алания,
	</p>
	<p class="interaction__text interaction__text--mb">
		Министерство культуры РСО-Алания,
	</p>
	<p class="interaction__text interaction__text--mb">
		Администрация местного самоуправления г. Владикавказ,
	</p>
	<p class="interaction__text interaction__text--mb">
		ГБНОУ «Республиканский лицей искусств»,
	</p>
	<p class="interaction__text interaction__text--mb">
		Детская музыкальная школа №1 им. П.И.Чайковского,
	</p>
	<p class="interaction__text interaction__text--mb">
		ДШИ №2 г. Владикавказ,
	</p>
	<p class="interaction__text interaction__text--mb">
		Городской совет ветеранов Владикавказа,
	</p>
	<p class="interaction__text interaction__text--mb">
		Епархия Владикавказская и Аланская,
	</p>
	<p class="interaction__text interaction__text--mb">
		МОО «Землячество Алании» г. Донецк,
	</p>
	<p class="interaction__text interaction__text--mb">
		АНО Ветеранов Органов Госбезопасности "Вымпел-Алания",
	</p>
	<p class="interaction__text interaction__text--mb">
		Региональное отделение общероссийской общественно-государственной организации «Союз женщин России» РСО-Алания.
	</p>
	<div class="interaction__slider _interaction__slider swiper">
		<div class="interaction__wrap swiper-wrapper">
			<img class="swiper-slide" src="image/interaction-1.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-2.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-3.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-4.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-5.jpg" alt="">
			<img class="swiper-slide" src="image/interaction-6.jpg" alt="">
		</div>
		<div class="swiper-pagination about-us__pagination"></div>
	</div>
</section>




