<section class="news container " id="news">
	<div class="g-sub-title interaction__title">
		Новости
	</div>
	<div class="news__slider _news__slider swiper">
		<div class="news__wrap swiper-wrapper">
			<div class="news__item swiper-slide">
				<img src="image/news-1.jpg" alt="">
				<p class="news__item-text">
					Наш Храм-Памятник еще не построен, идет подготовка к строительству, но сегодня 7 февраля, в день Иконы Божией Матери «Утоли моя печали», перед образом Пресвятой Богородицы, в честь которой будет строится наш храм, на Воинском мемориале восточного кладбища города Владикавказ, прошло первое богослужение настоятелем храма Иоанна Воина отцом Василием, на месте, где он будет построен. Это первый наш престольный праздник. Наш храм еще не построен, но он незримо существует для нас. Семьи погибших воинов отслужили акафист Пресвятой Богородице пред иконой «Утоли моя печали», подаренной для нашего будущего храма, Архиепископом Владикавказским и Аланским Владыкой Герасимом.  			
				</p>
				<p class="news__item-text news__item-text--last">
					После службы отец Василий совершил заупокойную литию по нашим павшим воинам, покоящихся в данном месте, и обратился к присутствующим со словами утешения, а также поздравил всех с праздником в честь праздника иконы Божьей матери «Утоли моя печали» и с первым престольным днем. 
				</p>
			</div>
			<div class="news__item swiper-slide">
				<img src="image/news-2.jpg" alt="">
				<p class="news__item-text">
					В Северную Осетию с рабочим визитом прибыл спикер Народного совета ДНР Артем Владимирович Жога.  
				</p>
				<p class="news__item-text">
					Артём Владимирович встретился с семьями погибших военнослужащих в зоне СВО. На встрече были заданы волнующие вопросы.
				</p>
				<p class="news__item-text news__item-text--last">
					Руководители БФ "Будем жить!" обсудили важные вопросы по основным направлениям деятельности фонда.
				</p>
			</div>
			<div class="news__item swiper-slide">
				<img src="image/news-3.jpg" alt="">
				<p class="news__item-text">
					Память нетленна… 
				</p>
				<p class="news__item-text">
					Во Владикавказском многопрофильном техникуме имени Георгия Калоева 22 февраля отмечали День защитника Отечества, делая основной акцент на специальной военной операции. 
				</p>
				<p class="news__item-text news__item-text--last">
					Гостями праздника были Вадим Таймуразович Габеев, заместитель министра образования и науки Республики Северная Осетия-Алания, Индира Камболова, главный специалист Министерства; 
					Представители регионального отделения всероссийской общественной организации ветеранов «Боевое 	братство» ветераны боевых действий Леонид Гибизов и Тамаз Музаев; Войск Национальной гвардии капитан Максим Колиогло; 
				</p>
			</div>
			<div class="news__item swiper-slide">
				<img src="image/news-4.jpg" alt="">
				<p class="news__item-text">
					22 февраля БФ "Будем жить!" принял участие в мероприятии посвященному открытию мемориальной стены "Воинской Славы" в память о выпускниках Владикавказского Горно-Металлургического техникума, погибших в ходе СВО. 
				</p>
				<p class="news__item-text">
					В рамках сотрудничества фонда с учебными заведениями по увековечиванию памяти защитников Отечества, наш фонд предоставил организаторам информационную поддержку.
				</p>
				<p class="news__item-text">
					Почтить светлую память погибших, отдать дань уважения подвигу собрались родные и близкие, педагоги и студенты техникума, члены общественных организаций. 
				</p>
				<p class="news__item-text">
					Почтить светлую память погибших, отдать дань уважения подвигу собрались родные и близкие, педагоги и студенты техникума, члены общественных организаций. 
				</p>
				<p class="news__item-text news__item-text--last">
					"Тяжело говорить о потерях, а когда это молодые ребята, вдвойне тяжело... Вы потеряли самое дорогое, что у Вас было. Спасибо Вам за ваших сыновей и мужей, они достойно прожили свою короткую жизнь, отдали её за наше с вами счастье и мирное небо. Пока мы живы, будем помнить о наших героях!»
				</p>
			</div>
		</div>
		<div class="swiper-pagination about-us__pagination"></div>
	</div>
</section>