{% extends "layouts/layout.twig" %}
{% block page %}
	{% include "components/management/management.twig" %}
	{% include "components/about-us/about-us.twig" %}
	{% include "components/projects/projects.twig" %}
	{% include "components/donations/donations.twig" %}
	{% include "components/interaction/interaction.twig" %}
	{% include "components/news/news.twig" %}
	{% include "components/contacts/contacts.twig" %}
	<button class="index-return" onclick="mainObject.scrollUp()">Вернуться наверх</button>
{% endblock %}