{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	<link rel="stylesheet" type="text/css" href="./style.css">
	
	<title>Будем Жить</title>
</head>
<body>
	{% include "components/header/header.twig" %}
	<main>
		{% block page %}{% endblock %}
	</main>
	{% include "components/footer/footer.twig" %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="./main.min.js" defer="" async=""></script>
</body>
</html>
