<section id="contacts" class="container contacts interaction__text--mb">
	<div class="g-sub-title interaction__title">Контакты</div>
	<p>Республика Северная Осетия-Алания</p>
	<p>г. Владикавказ ул. Димитрова д.2 офис 406</p>
	<p>Телефон: +79891350607</p>
	<p>Email: fond.budemzhit@mail.ru</p>
	<p>VK: https://vk.com/bubemzhit2023</p>
	<p>Telegram: https://t.me/bfbudemzhit</p>
</section>